In [1]:
# Create spark session
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('CSCI316_Grp20_Assn2').config('spark-master', 'local').getOrCreate()

spark

In [8]:
from pyspark.sql.types import StructType, StructField, IntegerType

schema = StructType([
    StructField("Elevation", IntegerType(), True),
    StructField("Aspect", IntegerType(), True),
    StructField("Slope", IntegerType(), True),
    StructField("Horizontal_Distance_To_Hydrology", IntegerType(), True),
    StructField("Vertical_Distance_To_Hydrology", IntegerType(), True),
    StructField("Horizontal_Distance_To_Roadways", IntegerType(), True),
    StructField("Hillshade_9am", IntegerType(), True),
    StructField("Hillshade_Noon", IntegerType(), True),
    StructField("Hillshade_3pm", IntegerType(), True),
    StructField("Horizontal_Distance_To_Fire_Points", IntegerType(), True),
    StructField("Wilderness_Area_1", IntegerType(), True),
    StructField("Wilderness_Area_2", IntegerType(), True),
    StructField("Wilderness_Area_3", IntegerType(), True),
    StructField("Wilderness_Area_4", IntegerType(), True),
    StructField("Soil_Type_1", IntegerType(), True),
    StructField("Soil_Type_2", IntegerType(), True),
    StructField("Soil_Type_3", IntegerType(), True),
    StructField("Soil_Type_4", IntegerType(), True),
    StructField("Soil_Type_5", IntegerType(), True),
    StructField("Soil_Type_6", IntegerType(), True),
    StructField("Soil_Type_7", IntegerType(), True),
    StructField("Soil_Type_8", IntegerType(), True),
    StructField("Soil_Type_9", IntegerType(), True),
    StructField("Soil_Type_10", IntegerType(), True),
    StructField("Soil_Type_11", IntegerType(), True),
    StructField("Soil_Type_12", IntegerType(), True),
    StructField("Soil_Type_13", IntegerType(), True),
    StructField("Soil_Type_14", IntegerType(), True),
    StructField("Soil_Type_15", IntegerType(), True),
    StructField("Soil_Type_16", IntegerType(), True),
    StructField("Soil_Type_17", IntegerType(), True),
    StructField("Soil_Type_18", IntegerType(), True),
    StructField("Soil_Type_19", IntegerType(), True),
    StructField("Soil_Type_20", IntegerType(), True),
    StructField("Soil_Type_21", IntegerType(), True),
    StructField("Soil_Type_22", IntegerType(), True),
    StructField("Soil_Type_23", IntegerType(), True),
    StructField("Soil_Type_24", IntegerType(), True),
    StructField("Soil_Type_25", IntegerType(), True),
    StructField("Soil_Type_26", IntegerType(), True),
    StructField("Soil_Type_27", IntegerType(), True),
    StructField("Soil_Type_28", IntegerType(), True),
    StructField("Soil_Type_29", IntegerType(), True),
    StructField("Soil_Type_30", IntegerType(), True),
    StructField("Soil_Type_31", IntegerType(), True),
    StructField("Soil_Type_32", IntegerType(), True),
    StructField("Soil_Type_33", IntegerType(), True),
    StructField("Soil_Type_34", IntegerType(), True),
    StructField("Soil_Type_35", IntegerType(), True),
    StructField("Soil_Type_36", IntegerType(), True),
    StructField("Soil_Type_37", IntegerType(), True),
    StructField("Soil_Type_38", IntegerType(), True),
    StructField("Soil_Type_39", IntegerType(), True),
    StructField("Soil_Type_40", IntegerType(), True),
    StructField("Cover_Type", IntegerType(), True)])

In [12]:
df = spark.read.csv('covtype.data', header = False, schema = schema)

In [11]:
df.toPandas()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [21]:
df2 = df.replace('?', None).dropna(how='any')
df2.describe().toPandas()

,summary,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,count,581012,581012,581012,581012,581012,581012,581012,581012,581012,...,581012,581012,581012,581012,581012,581012,581012,581012,581012,581012
1,mean,2959.365300544567,155.65680743254873,14.103703537964792,269.42821662891646,46.418855376481034,2350.1466114297123,212.14604861861716,223.31871630878535,142.52826275533036,...,0.09039228105443606,0.07771612290279718,0.0027727482392790512,0.0032546659965714993,2.0481504684929054E-4,5.128981845469629E-4,0.026803232979697493,0.02376198770421265,0.01505992991538901,2.051470537613681
2,stddev,279.9847342506358,111.91372100329563,7.4882418144801335,212.54935559508127,58.295231626887094,1559.2548698976063,26.769888805282168,19.768697153666434,38.27452923141074,...,0.28674319188914293,0.267724579574964,0.05258388408562186,0.05695681459947708,0.014309907410203396,0.022641466434728225,0.16150809446310438,0.15230691241832478,0.1217914363007141,1.396504316079408
3,min,1859,0,0,0,-173,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,max,3858,360,66,1397,601,7117,254,254,254,...,1,1,1,1,1,1,1,1,1,7

In [22]:
# Assemble all the features with VectorAssembler
from pyspark.ml.feature import VectorAssembler

required_features = [
                "Elevation", "Aspect", "Slope", "Horizontal_Distance_To_Hydrology",
                "Vertical_Distance_To_Hydrology", "Horizontal_Distance_To_Roadways",
                "Hillshade_9am", "Hillshade_Noon", "Hillshade_3pm",
                "Horizontal_Distance_To_Fire_Points", 
                "Wilderness_Area_1", "Wilderness_Area_2",
                "Wilderness_Area_3", "Wilderness_Area_4", 
                "Soil_Type_1", "Soil_Type_2", "Soil_Type_3", "Soil_Type_4", "Soil_Type_5", 
                "Soil_Type_6", "Soil_Type_7", "Soil_Type_8", "Soil_Type_9", "Soil_Type_10", 
                "Soil_Type_11", "Soil_Type_12", "Soil_Type_13", "Soil_Type_14", "Soil_Type_15", 
                "Soil_Type_16", "Soil_Type_17", "Soil_Type_18", "Soil_Type_19", "Soil_Type_20", 
                "Soil_Type_21", "Soil_Type_22", "Soil_Type_23", "Soil_Type_24", "Soil_Type_25", 
                "Soil_Type_26", "Soil_Type_27", "Soil_Type_28", "Soil_Type_29", "Soil_Type_30", 
                "Soil_Type_31", "Soil_Type_32", "Soil_Type_33", "Soil_Type_34", "Soil_Type_35", 
                "Soil_Type_36", "Soil_Type_37", "Soil_Type_38", "Soil_Type_39", "Soil_Type_40"
                   ]

assembler = VectorAssembler(inputCols=required_features, outputCol='features')
transformed_data = assembler.transform(df2)

In [25]:
transformed_data.toPandas()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type,features
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,5,"(2596.0, 51.0, 3.0, 258.0, 0.0, 510.0, 221.0, ..."
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,5,"(2590.0, 56.0, 2.0, 212.0, -6.0, 390.0, 220.0,..."
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,2,"(2804.0, 139.0, 9.0, 268.0, 65.0, 3180.0, 234...."
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,2,"(2785.0, 155.0, 18.0, 242.0, 118.0, 3090.0, 23..."
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,5,"(2595.0, 45.0, 2.0, 153.0, -1.0, 391.0, 220.0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,3,"(2396.0, 153.0, 20.0, 85.0, 17.0, 108.0, 240.0..."
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,3,"(2391.0, 152.0, 19.0, 67.0, 12.0, 95.0, 240.0,..."
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,3,"(2386.0, 159.0, 17.0, 60.0, 7.0, 90.0, 236.0, ..."
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,3,"(2384.0, 170.0, 15.0, 60.0, 5.0, 90.0, 230.0, ..."
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,3,"(2383.0, 165.0, 13.0, 60.0, 4.0, 67.0, 231.0, ..."

In [26]:
transformed_data.select("features").show(2)

+--------------------+
|            features|
+--------------------+
|(54,[0,1,2,3,5,6,...|
|(54,[0,1,2,3,4,5,...|
+--------------------+
only showing top 2 rows

In [27]:
transformed_data.select("Cover_Type").distinct().count()

7

In [30]:
exprs = [col(column).alias(column.replace(' ', '_')) for column in transformed_data.columns]

model_data = transformed_data.select(*exprs).selectExpr("features as features", "Cover_Type as label")
model_data.show(5)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|(54,[0,1,2,3,5,6,...|    5|
|(54,[0,1,2,3,4,5,...|    5|
|(54,[0,1,2,3,4,5,...|    2|
|(54,[0,1,2,3,4,5,...|    2|
|(54,[0,1,2,3,4,5,...|    5|
+--------------------+-----+
only showing top 5 rows

### Modelling

In [33]:
# Import LinearRegression class
from pyspark.ml.regression import LinearRegression

# Define LinearRegression algorithm
lr = LinearRegression()

# Fit 2 models, using different regularization parameters
modelA = lr.fit(model_data, {lr.regParam:0.0})
modelB = lr.fit(model_data, {lr.regParam:100.0})

In [38]:
# Make predictions
predictionsA = modelA.transform(model_data)
predictionsA.show()

+--------------------+-----+------------------+
|            features|label|        prediction|
+--------------------+-----+------------------+
|(54,[0,1,2,3,5,6,...|    5| 2.219337390939002|
|(54,[0,1,2,3,4,5,...|    5| 2.223434444662124|
|(54,[0,1,2,3,4,5,...|    2|  2.06951772722088|
|(54,[0,1,2,3,4,5,...|    2| 2.371954454746504|
|(54,[0,1,2,3,4,5,...|    5| 2.214921784512061|
|(54,[0,1,2,3,4,5,...|    2|2.2715616123830666|
|(54,[0,1,2,3,4,5,...|    5| 2.204220028193378|
|(54,[0,1,2,3,4,5,...|    5|2.2142460242365107|
|(54,[0,1,2,3,4,5,...|    5| 2.223390790780597|
|(54,[0,1,2,3,4,5,...|    5| 2.217979934404645|
|(54,[0,1,2,3,4,5,...|    5|2.2401193897095744|
|(54,[0,1,2,3,4,5,...|    2|2.1456105870652964|
|(54,[0,1,2,3,4,5,...|    2| 2.408314143894817|
|(54,[0,1,2,3,4,5,...|    5|2.2174077068596674|
|(54,[0,1,2,3,4,5,...|    5| 2.317947943106576|
|(54,[0,1,2,3,4,5,...|    5|2.3105138765349293|
|(54,[0,1,2,3,4,5,...|    5|2.2589679638969145|
|(54,[0,1,2,3,4,5,...|    5| 2.277261305376305|
|(54,[0,2,3,4,5,6,...|    5|2.2246769951909635|
|(54,[0,1,2,3,4,5,...|    5|2.2628203135697476|
+--------------------+-----+------------------+
only showing top 20 rows

In [45]:
model_data.groupBy('label').count().show()

+-----+------+
|label| count|
+-----+------+
|    1|211840|
|    6| 17367|
|    3| 35754|
|    5|  9493|
|    4|  2747|
|    7| 20510|
|    2|283301|
+-----+------+

In [46]:
#Stratified sampling

# Taking 2/3 of dataset into training set
train = model_data.sampleBy("label", fractions={1: 2/3, 2: 2/3, 3: 2/3, 4: 2/3, 5: 2/3, 6: 2/3, 7: 2/3,}, seed=10)

# Subtracting 'train' from original 'data' to get test set 
test = model_data.subtract(train)

In [50]:
from pyspark.ml.classification import RandomForestClassifier


rf = RandomForestClassifier(labelCol='label', 
                            featuresCol='features',
                            maxDepth=5)

In [51]:
model = rf.fit(train)

In [52]:
predictions = model.transform(test)

In [53]:
# Evaluate our model

from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(
    labelCol='label', 
    predictionCol='prediction', 
    metricName='accuracy')

In [54]:
accuracy = evaluator.evaluate(predictions)
print('Test Accuracy = ', accuracy)

Test Accuracy =  0.6805724363715354